.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
}
.navbar-header {
  color: #181818!important;
  margin: 0.1em;
  font-size: 2em;
  font-weight: 550!important;
  letter-spacing: 0.1em;
  font-family: "Courier New";
}

.navbar-link {
  margin: 0.1em;
  font-size: 1.4em;
  font-family: "Courier New";
  letter-spacing: 0.1em;
  text-indent: 0.3em;
  color: #181818!important;
  padding: .5em;
}

.navbar-link:hover{
  transform: translateY(-2px);
  color: #468499 !important;
}

.navbar-header:hover{
  transform: translateY(-2px);
  color: #468499 !important;
}
