.dimension {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background-color: #eceff1;
  font-family: "Courier New";
  justify-content: center;
  opacity: 0.9;
  margin-top: 3rem;
  box-shadow: 0px 0px 40px 20px black;
}

.title {
}

.body {
}

.btn-huge {
  padding: 1rem 2rem;
  font-size: 1.5rem;
}

.getStartedButton {
  background-color: #ff6347;
  opacity: 1 !important;
  border: none;
}
.getStartedButton:hover {
  background-color: #468499;
}
