.title {
  font-size: 3em;
}

.subtitle {
    font-size: 2em;
  }

.body {
  font-size: 1.2em;
  line-height: 40px;
}

.webcam {
  

}

.loginButton {
  background-color: #fa8072;
  opacity: 1 !important;
  border: none;
}
.loginButton:hover {
  background-color: #468499;
}
