.title {
  font-size: 3em;
}

.subtitle {
    font-size: 2em;
  }

.body {
  font-size: 1.2em;
  line-height: 40px;
}

.btn-login {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  box-shadow: 0px 0px 10px 0px #301934;
  color: #301934;
  border-radius: 7px;
}

.loginButton {
  background-color: #fa8072;
  opacity: 1 !important;
  border: none;
}
.loginButton:hover {
  background-color: #468499;
}
