@import "https://fonts.googleapis.com/css?family=Abril+Fatface|Roboto";
.User {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto";
  display: flex;
}
@media screen and (max-width: 980px) {
  .User {
    flex-direction: column;
  }
}
.User .Image {
  width: 50vw;
  height: 70vh;
  position: relative;
  /* background-size: cover; */
  background-position: center;
  margin-left: 10%;
  margin-top: 10%;
}
@media screen and (max-width: 980px) {
  .User .Image {
    width: 100vw;
    height: 70vh;
  }
}
.User .Profile {
  position: relative;
  width: 50vw;
  padding: 5vw 10vw;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  color: white;
}
@media screen and (max-width: 980px) {
  .User .Profile {
    width: 100vw;
    height: 30vh;
  }
}
.User .Profile .Name {
  font-size: 6vw;
  font-family: "Abril Fatface";
  font-style: italic;
  margin-bottom: 4vw;
  margin-top: 3vw;
}
.User .Profile .Bio {
  font-size: 15px;
  line-height: 1.8;
  margin-bottom: 3vw;
  opacity: 30;
  font-style: italic;
  color:lemonchiffon;
  ;
}
.User .Profile .Quote {
  margin-top: auto;
}
.User .Profile .Quote blockquote {
  font-size: 36px;
  font-family: "Abril Fatface";
  font-style: italic;
  line-height: 1.4;
  margin-bottom: 0.6em;
}
.User .Profile .Quote .byline {
  font-family: "Times", serif;
  text-align: right;
  font-size: 30px;
  font-style: italic;
  opacity: inherit;
  color: #f49d6e;
  font-weight:bolder;
  margin-bottom: 10%;
}
